tmp/
logs/
.log
.directory

# Java specific
*.class
*.versionsBackup

# Netbeans
**/nbproject
**/nbactions.xml

# Eclipse
.classpath
.project
.settings/
.metadata
.tern-project

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml
/bin/
**/pom.xml.releaseBackup
release.properties

# IntelliJ
.idea
*.iml
